<% include header %>
<div class="mt-5 container bg-dark rounded text-center text-light">
    <h1>Parties finies</h1>
    <div class="row">
        <% for (var i = 0;i < games.length;i++){ %>
            <div class="card bg-dark m-2 rounded-lg border-info" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Partie n°<%= games[i]["id"] %></h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark border-bottom rounded-lg">Liste des joueurs</li>
                        <% for (var j = 0;j < players.length;j++){
                        if (players[j]["id_game"] == games[i]["id"] ){ %>
                            <li class="list-group-item bg-dark"> <%= players[j]["name"] %> : <%= players[j]["score"] %> </li>
                        <% } } %>
                    </ul>
                    <form action="/game/<%= games[i]["id"] %>/show" method="get">
                        <button class="btn btn-outline-info">Rejoindre</button>
                    </form>
                </div>
            </div>
        <% } %>

    </div>
</div>
<% include footer.ejs %>
