<% include header %>
<body>
<h1 class="text-center mb-5 mt-5 ">Mot de passe</h1>

<form action="/creategame" method="post">
    <div class="joueurs ">
        <div class="form-row name mb-1">
            <label for="" class=" form-control-lg col-sm-2 col-form-label">Nom de la partie</label>
            <div class="col-8">
                <input type="password" class="form-control form-control-lg " id="typepass" name="nom" placeholder=""
                       required>
            </div>
            <div class="col-2 ">

            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <input type="checkbox" onclick="Toggle()">
                <b>Show Password</b>
            </div>
            <div class="col-2 ">

            </div>

        </div>
        <div class="form-row joueur mb-1 mt-2">
            <label for="" class=" form-control-lg col-sm-2 col-form-label">Joueur n°1</label>
            <div class="col-8">
                <input type="text" class="form-control form-control-lg " name="j1" placeholder="Nom du joueur" required>
            </div>
            <div class="col-2">
                <input type="button" class="form-control form-control-lg btn btn-outline-info ajouter" value="+">
            </div>
        </div>
        <div class="form-row joueur mb-1">
            <label for="staticEmail" class=" form-control-lg col-sm-2 col-form-label">Joueur n°2</label>
            <div class="col-8">
                <input type="text" class="form-control form-control-lg " name="j2" placeholder="Nom du joueur" required>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <input type="submit" class="form-control form-control-lg btn btn-outline-success valider" value="Valider">
        </div>
        <div class="col-2">

        </div>
    </div>
</form>

</body>

<% include footer %>