<% include header %>
<link rel='stylesheet' href='/stylesheets/textacc.css'/>


<div class="mt-5 container bg-dark rounded text-center text-light">
    <h1 class="text-warning ">
        <span>MOT</span>
        <span>DE</span>
        <span>PASSE</span>
    </h1>
    <div class="row">
        <div class="col-sm">
            <h2 class="text-info">Règles du jeu</h2>
        </div>
        <div class="col-sm">
            <h2 class="text-info">Fonctionnement de l'application</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm text-left p-3 mr-2 border border-info rounded-lg sha">
            <h5><span class="text-info">-</span> Les règles du jeu sont simples.</h5>
            <h5><span class="text-info">-</span> La partie est divisée en tours de 90 secondes.</h5>
            <h5><span class="text-info">-</span> A chaques tours, 2 joueurs sont choisis aléatoirement.</h5>
            <h5><span class="text-info">-</span> Le premier doit faire deviner un mot au second à l'aide de 3
                tentatives.</h5>
            <h5><span class="text-info">-</span> A chaque tentatives ratées, le premier joueur doit cliquer sur
                <button type="button" class="btn btn-outline-danger">Rater</button>
                .
            </h5>
            <h5><span class="text-info">-</span> Si ils reussisent, le premier joueur doit cliquer sur
                <button type="button" class="btn btn-outline-success">Valider</button>
                et les 2 joueurs gagnent un point.
            </h5>
            <h5><span class="text-info">-</span> Si ils échouent après 3 tentatives ratées ou au temps impartie, aucun
                des 2 joueurs ne gagnent de
                point.</h5>
            <h5><span class="text-info">-</span> Dans les 2 cas, la partie passe au tour suivant jusqu'à l'un des
                joueurs cliquer sur
                <button type="button" class="btn btn-outline-light">Fin de partie</button>
                .
            </h5>

        </div>
        <div class="col-sm text-left p-3 ml-2 border border-info rounded-lg sha">
            <h5><span class="text-info">-</span> Il est conseillé de jouer au jeu avec au moins deux appareils.</h5>
            <h5><span class="text-info">-</span> Un appareil maitre du jeu, qui sera passer a chaque joueur devant faire
                deviné le mot</h5>
            <h5><span class="text-info">-</span> Les autres appareils servant de récapitulatif de la partie.</h5>
            <h5><span class="text-info">-</span> Pour créer une partie cliquer sur <a href="/creategame"
                                                                                      class="text-info">Créer une
                    partie</a>, ajouter le nom des joueurs et le nom de la partie</h5>
            <h5><span class="text-info">-</span> Pour reprendre une partie cliquer sur <a href="/game"
                                                                                          class="text-info">Rejoindre
                    une
                    partie</a> et réécrivez le nom de la partie.</h5>
            <h5><span class="text-info">-</span> Pour visualiser la partie en tant qu'invité, aller sur la barre de
                navigation et entrée y l'id de la partie présent sur la page de la partie.</h5>
            <a href="/creategame">
                <button type="button" class="btn btn-outline-warning pt-5 pb-5 btn-lg btn-block">Créer votre partie dès
                    maintenant !
                </button>
            </a>
        </div>


    </div>
    <img src="/images/qrcode.png" class="border border-info rounded-lg mx-auto d-block sha" alt="...">


</div>


<% include footer %>